アイテム購入のサンプルです。会員登録をするとワンクリックで購入、しないとクレジットカード番号と配達先を入力する画面に遷移します。
%table
  %tr
    %th アイテム名
    %th 価格(GIL)
    %th
  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.price
      %td
        - if current_customer
          = link_to '購入', buy_item_path(item), method: :post, confirm: "#{item.name}を購入しますか"
        - else
          = link_to '登録せず購入', payment_item_path(item)
