<!DOCTYPE html>
<html>
<head>
  <title>WebpayCloset</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>
    <% if current_customer %>
      <%= current_customer.name %>さん、こんにちは
      <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_customer_session_path %>
    <% end %>
  </p>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
